.navbar-brand{
    padding-left: 10px;
  }
  .navbar-nav{
    padding-left: 30%;
  }
  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
    color: rgb(9, 6, 6);
  }
  .navbar{
    background-color: orange;
  }
  .logo{
    padding: 20px;
  }
  .d-flex {
    display: flex !important;
    padding-left: 40%;
    color:black;
  }
  header{
    background:none, url(images/Your\ paragraph\ text.png);
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin: 0;
    text-align: center;
    color:white;
    height: 450px;
    padding-top: 20px;
  }
  .desc{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
  }
  .slide-title{
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .container.t{
    margin-top: 70px;
  }
  div.container.overflow-hidden.text-center{
    width: 100%;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .row{
    display: flex;
  }
  .col.b{
    text-align: left;
    padding-bottom: 30px;
  }
  .col.b>h1{
    font-size: 50px;
    padding-top: 30px;
  }
  .col.b>h2{
    margin-top: 40px;
    font-size: 30px;
  }
  .col.b>p{
    margin-top: 40px;
    font-size: 25px;
  }
  .img-corp{
    width: 100%;
    margin-top: 30px;
    padding-top: 40px;
   padding-bottom: 90px;
   height: 600px;
   padding-right: 30px;
  }
  .card-text{
    padding-top: 20px;
  }
  .card-text.t{
    padding-top: 35px;
  }
  .card-title.t{
    padding-right: 0px;
  }
  .footer{
    margin: 10px 10px 0px 10px;
    color: orange;
    background-color: #fff;
    margin-left: 100px;
    margin-top: 20px;
  }
  .git{
    margin: 70px 0px 10px 100px;
  }
  .git>img{
    border-radius: 20px;
  }
  .con{
    display: flex;
    flex-direction: row;
  }
  
  .reg-copy{
    text-align: center;
  }
  .container,.container.h{
    margin-top: 90px;
  }
  .container.hoe{
    margin-top: 400px;
    padding-top: 40px;
  }
  .row.hep{
    margin-top: 50px;
  }
  @media (max-width: 700px) {
    .col.h{
      margin-left: 0%;
      margin-top: 40px;
    }
    .col.p{
      margin-right: 16%;
      margin-top: 40px;
    }
  }
  .col.n{
    margin-top: 30px;
  }
  /**-- done with homepage style--*/
  .banner{
    background: none, url(images/f73880bb-222f-4030-bf97-78f116b84059.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    font-size: medium;
    background-color: white;
  }
.banner-description{
  color: whitesmoke;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}
.banner-title{
  color: white;
  text-align: center;
  padding-top: 40px;
  font-size: 55px;
}
.col.v{
  font-size: large;
  padding-top: 60px;
}
.container.hep{
  margin-top: 400px;
  padding-top: 350px; 
}
.col.p{
  font-size: 20px;
  padding-top: 60px;
}
/**-- done with aboutpage style--*/
.slide-me{
  background: url(images/Silver\ Carrot\ Orange\ Painterly\ Pinoy\ Restaurant\ Banner\ _20250423_141924_0000.png);
  color: black;
  
}
.col.o>h1{
  font-size: larger;
  padding-top: 100px;
}